/* === Section Ateliers === */
.bg {
    -fx-background: #f8e5d5;
    -fx-background-color: #f8e5d5;
}

.ateliers-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #8C4A1D;
    -fx-padding: 10 0 0 0;
    -fx-alignment: center;
}

.ateliers-subtitle {
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 5 0 20 0;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}



.button {
    -fx-background-color: #D9A58C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 14;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 1, 1);
}

.button:hover {
    -fx-background-color: #c17d5a;
}