.root {
    -fx-background-color: #f9f9f9;
    -fx-padding: 25;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label, .form-label {
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-min-width: 80;
}

.text-field, .combo-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 6 10;
    -fx-border-color: #ccc;
}

.button {
    -fx-background-color: #3a4c68;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 6 16;
    -fx-border-width: 0;
}

.button:hover {
    -fx-background-color: #2f3e55;
}
